#root {
  background-color: white;
}

#input {
  border-radius: 1em;
  float: left;
  margin-left: 10px;
  height: 80%;
  width: 20%
}

#output {
  border-radius: 1em;
  float: right;
  margin-right: 10px;
  height: 80%;
  width: 30%
}

.btn {
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
  height: 50px;
  align-content: center;
  object-position: center;
  position: relative;
}

.center {
  margin: auto;
  padding: 2px;
}